#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

choice NCS_ALIRO_LOG_LEVEL
    prompt "Log level for Aliro module"
    default NCS_ALIRO_LOG_LEVEL_DBG

config NCS_ALIRO_LOG_LEVEL_OFF
    bool "Aliro module log level set to off"
    help
      No logging

config NCS_ALIRO_LOG_LEVEL_ERR
    bool "Aliro module log level set to error"
    help
      Error logging only

config NCS_ALIRO_LOG_LEVEL_WRN
    bool "Aliro module log level set to warning"
    help
      Warning and error logging

config NCS_ALIRO_LOG_LEVEL_INF
    bool "Aliro module log level set to info"
    help
      Informational, warning and error logging

config NCS_ALIRO_LOG_LEVEL_DBG
    bool "Aliro module log level set to debug"
    help
      Debug, informational, warning and error logging

endchoice

config NCS_ALIRO_LOG_LEVEL_VALUE
    int
    default 0 if NCS_ALIRO_LOG_LEVEL_OFF
    default 1 if NCS_ALIRO_LOG_LEVEL_ERR
    default 2 if NCS_ALIRO_LOG_LEVEL_WRN
    default 3 if NCS_ALIRO_LOG_LEVEL_INF
    default 4 if NCS_ALIRO_LOG_LEVEL_DBG
