#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Door Lock Subsystems"

rsource "aliro/Kconfig"
rsource "external_nvs/Kconfig"
rsource "matter_access/Kconfig"
rsource "settings_utils/Kconfig"

endmenu
