#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Door Lock Subsystems"

rsource "advertising_arbiter/Kconfig"
rsource "aliro/Kconfig"
rsource "ble_manager/Kconfig"
rsource "external_nvs/Kconfig"
rsource "matter_access/Kconfig"
rsource "nfc_prop/Kconfig"
rsource "nus_service/Kconfig"
rsource "settings_utils/Kconfig"

endmenu
