#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config BT
	default y

config BT_DEVICE_NAME
	default "AliroDL"

config BT_PERIPHERAL
	default y

config BT_SMP
	default y

config BT_PHY_UPDATE
	default n

config BT_BUF_ACL_RX_SIZE
	default 552 if DOOR_LOCK_STEP_UP_PHASE
	default 251

config BT_BUF_ACL_TX_SIZE
	default 552 if DOOR_LOCK_STEP_UP_PHASE
	default 251

config BT_L2CAP_TX_MTU
	default 548 if DOOR_LOCK_STEP_UP_PHASE
	default 247

config BT_GATT_DYNAMIC_DB
	default y

config BT_GATT_ENFORCE_SUBSCRIPTION
	default y

config BT_GATT_SERVICE_CHANGED
	default y

config BT_L2CAP_DYNAMIC_CHANNEL
	default y

config BT_CTLR_TX_PWR_DYNAMIC_CONTROL
	default y if !SOC_NRF5340_CPUAPP

config BT_BONDABLE
	default n

config BT_ID_MAX
	default 2 if BT_BONDABLE
