#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

# crypto default configuration
config ENTROPY_PSA_CRYPTO_RNG
	default y

config MBEDTLS_PSA_CRYPTO_C
	default y

config MBEDTLS_ENABLE_HEAP
	default y

config MBEDTLS_HEAP_SIZE
	default 8192

config PSA_WANT_ALG_ECDSA
	default y

config PSA_WANT_ALG_ECDH
	default y

config PSA_WANT_KEY_TYPE_ECC_KEY_PAIR_GENERATE
	default y

config PSA_WANT_KEY_TYPE_ECC_KEY_PAIR_IMPORT
	default y

config PSA_WANT_KEY_TYPE_ECC_KEY_PAIR_EXPORT
	default y

config PSA_WANT_ECC_SECP_R1_256
	default y

config PSA_WANT_ALG_SHA_256
	default y

config PSA_WANT_ALG_HKDF
	default y

config PSA_WANT_ALG_HMAC
	default y

config PSA_WANT_KEY_TYPE_HMAC
	default y

config PSA_WANT_KEY_TYPE_AES
	default y

config PSA_WANT_GENERATE_RANDOM
	default y

config PSA_WANT_ALG_GCM
	default y

# APDU library
config NFC_T4T_APDU
	default y

# required by Aliro persistent storage 
config FLASH
	default y

config FLASH_MAP
	default y

config NVS
	default y

config SETTINGS
	default y

# required by Aliro CLI 
config REBOOT
	default y

config SHELL
	default y

config BT_DEVICE_NAME
	default "AliroDL"

config BT
	default y

config BT_PERIPHERAL
	default y

config BT_SMP
	default y
