#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

# crypto default configuration
config MBEDTLS_PSA_CRYPTO_C
	default y

config MBEDTLS_ENABLE_HEAP
	default y

config MBEDTLS_HEAP_SIZE
	default 8192

config MBEDTLS_X509_LIBRARY
	default y if DOOR_LOCK_CREDENTIAL_ISSUER_CA

config PSA_WANT_ALG_ECDSA
	default y

config PSA_WANT_ALG_ECDH
	default y

config PSA_WANT_KEY_TYPE_ECC_KEY_PAIR_GENERATE
	default y

config PSA_WANT_KEY_TYPE_ECC_KEY_PAIR_IMPORT
	default y

config PSA_WANT_KEY_TYPE_ECC_KEY_PAIR_EXPORT
	default y

config PSA_WANT_ECC_SECP_R1_256
	default y

config PSA_WANT_ALG_SHA_256
	default y

config PSA_WANT_ALG_HKDF
	default y

config PSA_WANT_ALG_HMAC
	default y

config PSA_WANT_KEY_TYPE_HMAC
	default y

config PSA_WANT_KEY_TYPE_AES
	default y

config PSA_WANT_ALG_ECB_NO_PADDING
	default y

config PSA_WANT_GENERATE_RANDOM
	default y

config PSA_WANT_ALG_GCM
	default y

config TRUSTED_STORAGE
	default y

config MBEDTLS_PSA_CRYPTO_STORAGE_C
	default y

choice TRUSTED_STORAGE_BACKEND_AEAD_KEY
	default TRUSTED_STORAGE_BACKEND_AEAD_KEY_HASH_UID if SOC_SERIES_NRF52X
	default TRUSTED_STORAGE_BACKEND_AEAD_KEY_DERIVE_FROM_HUK
endchoice

config HW_UNIQUE_KEY_WRITE_ON_CRYPTO_INIT
	default y if (SOC_NRF5340_CPUAPP || SOC_SERIES_NRF54LX)

# APDU library
config NFC_T4T_APDU
	default y

# required by Aliro persistent storage
config FLASH
	default y

config FLASH_MAP
	default y

config NVS
	default y if !SOC_FLASH_NRF_RRAM

config NVS_LOOKUP_CACHE_SIZE
	default 512 if NVS

config NVS_LOOKUP_CACHE_FOR_SETTINGS
	default y if NVS

config ZMS
	default y if SOC_FLASH_NRF_RRAM

config ZMS_LOOKUP_CACHE_SIZE
	default 512 if ZMS

config ZMS_LOOKUP_CACHE_FOR_SETTINGS
	default y if ZMS

config SETTINGS
	default y

# required by Aliro CLI
config REBOOT
	default y

config SHELL
	default y

config EVENTS
	default y

config SMF
	default y

config SMF_ANCESTOR_SUPPORT
	default y

config SMF_INITIAL_TRANSITION
	default y

config NRF_SECURITY
	default y

choice NVS_LOG_LEVEL_CHOICE
	default NVS_LOG_LEVEL_ERR
endchoice

choice ZMS_LOG_LEVEL_CHOICE
	default ZMS_LOG_LEVEL_ERR
endchoice

choice SETTINGS_LOG_LEVEL_CHOICE
	default SETTINGS_LOG_LEVEL_ERR
endchoice

choice LIBC_IMPLEMENTATION
    default PICOLIBC
endchoice

choice POSIX_SYSCONF_IMPL_CHOICE
    default POSIX_SYSCONF_IMPL_MACRO if PICOLIBC
endchoice

config SHELL_CMD_BUFF_SIZE
	default 256

config ZCBOR
	default y

config ZCBOR_CANONICAL
	default y

if !CHIP

config MAIN_STACK_SIZE
	default 4096

config HEAP_MEM_POOL_SIZE
	default 4096

config SYSTEM_WORKQUEUE_STACK_SIZE
	default 2048

endif # !CHIP
