#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config DOOR_LOCK_ALIRO_INTERFACE_IMPL_OS
	bool "Aliro Interface Implementation - Os"
	depends on NCS_ALIRO
	depends on DOOR_LOCK_ALIRO_WORKQUEUE
	help
	  Common implementation of Aliro::Interface::Os.

if DOOR_LOCK_ALIRO_INTERFACE_IMPL_OS

module = DOOR_LOCK_ALIRO_INTERFACE_IMPL_OS
module-str = Door Lock Aliro Interface Implementation Os
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

config DOOR_LOCK_ALIRO_INTERFACE_IMPL_OS_BLE_STACK_TIMERS
	int "Number of stack timer slots for Bluetooth LE sessions"
	default 0
	help
	  Number of Aliro stack timer slots reserved for Bluetooth LE sessions.

config DOOR_LOCK_ALIRO_INTERFACE_IMPL_OS_TIMER_INIT_PRIORITY
	int "Os timer init priority"
	default APPLICATION_INIT_PRIORITY
	help
	  SYS_INIT priority for Os timer slot initialization.

endif # DOOR_LOCK_ALIRO_INTERFACE_IMPL_OS
