#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config RFAL_MAX_TIMERS_NUM
    int "Maximum number of timers used by RFAL"
    default 10
    help
        Defines the size of the timer array, setting the maximum number of timers that can be used by RFAL.
