#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig NFC_DRIVER_STM
	bool "ST25R series device driver"

if NFC_DRIVER_STM

rsource "Kconfig.defconfig"
rsource "Kconfig.rfal"
rsource "Kconfig.pal"
rsource "nfc_configs/Kconfig"

choice
	prompt "Select ST25R driver"
	default ST25R200_DRV

config ST25R3911_DRV
	bool "NFC ST25R3911 driver"

config ST25R3916_DRV
	bool "NFC ST25R3916 driver"

config ST25R3916B_DRV
	bool "NFC ST25R3916B driver"

config ST25R200_DRV
	bool "NFC ST25R200/ST25R100 driver"

config ST25R500_DRV
	bool "NFC ST25R500/ST25R300 driver"

endchoice

module = NFC
module-str = NFC_DRV
module-dep = LOG
module-help = Enables driver log messages.
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

endif # NFC_DRIVER_STM
