#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

rsource "drivers/Kconfig"

config NCS_ALIRO_LIB
	bool "Use Aliro Stack library"
	default y

config ALIRO_PRINT_READER_GROUP_ID
	bool "Print reader group ID that should be provisioned into the User Device"
