#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

rsource "drivers/Kconfig"
rsource "lib/Kconfig"
rsource "subsys/Kconfig"

menuconfig NCS_DOOR_LOCK
	bool "NCS Door Lock Application [EXPERIMENTAL]"
	depends on (SOC_SERIES_NRF54LX || SOC_SERIES_NRF53X || SOC_SERIES_NRF52X)
	select EXPERIMENTAL
	select NCS_ALIRO
	imply NFC_T4T_APDU
	imply POLL
	# storage
	imply SETTINGS
	imply FLASH
	imply FLASH_MAP
	imply REQUIRES_FULL_LIBCPP
	imply REQUIRES_FULL_LIBC
	imply NEWLIB_LIBC_NANO if NEWLIB_LIBC
	help
	  This option enables the Door Lock Application which uses the Aliro reader stack.

if NCS_DOOR_LOCK

orsource "lib/aliro/interfaces/logger/Kconfig"

config DOOR_LOCK_BLE_UWB
	bool "Aliro Bluetooth LE (BLE) transport together with ultra wideband (UWB)"
	select NCS_ALIRO_BLE_UWB
	help
	  Enable the Aliro BLE transport protocol (TP). This is the transport layer
	  used by the Reader to communicate with the User Device. It is used to send and
	  receive packets over BLE. Additionally the UWB is enabled in order to manage the
	  ranging between the Reader and the User Device.

if DOOR_LOCK_BLE_UWB

config DOOR_LOCK_BLE_UWB_MAX_SESSIONS
	int "Maximum number of BLE and UWB sessions"
	range 1 BT_MAX_CONN
	default BT_MAX_CONN
	help
	  The maximum number of BLE and UWB sessions that can be established.

endif # DOOR_LOCK_BLE_UWB

rsource "lib/aliro/Kconfig.defconfig"

config DOOR_LOCK_DFU_BLE_SMP
    bool "Enable DFU over SMP"
    depends on !CHIP
    help
      Enables Device Firmware Upgrade over Bluetooth LE.

config DOOR_LOCK_DFU_BLE_SMP_STANDALONE
    bool
    default y if DOOR_LOCK_DFU_BLE_SMP && !DOOR_LOCK_BLE_UWB && !DOOR_LOCK_BLE_NUS
    help
      Automatically enabled when DFU over SMP is enabled standalone (without DOOR_LOCK_BLE_UWB or DOOR_LOCK_BLE_NUS).
      This simplifies conditional compilation checks in the code.

config DOOR_LOCK_BLE_NUS
    bool "Enable Nordic Uart Service (NUS)"
    depends on !CHIP
    help
      Enables the Bluetooth LE Nordic Uart Service (NUS). Using NUS service you can control a door lock using pre-defined BLE commands.

# Source BLE defconfig when any BLE feature is enabled
if DOOR_LOCK_BLE_UWB || DOOR_LOCK_DFU_BLE_SMP || DOOR_LOCK_BLE_NUS

rsource "lib/aliro/Kconfig.ble.defconfig"

endif # DOOR_LOCK_BLE_UWB || DOOR_LOCK_DFU_BLE_SMP || DOOR_LOCK_BLE_NUS

config DOOR_LOCK_RELEASE
    bool "Enable Aliro release configuration"
    help
      In this configuration:
      Aliro stack logs are disabled.
      RFAL NFC driver logs are disabled.
      Shell commands are disabled.
      Device reset automatically on fatal error.

endif # NCS_DOOR_LOCK

