#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

rsource "drivers/Kconfig"

config ALIRO_PRINT_READER_GROUP_ID
	bool "Print reader group ID that should be provisioned into the User Device"

config ALIRO_BLE_TP
	bool "Aliro BLE transport"
	help
	  Enable the Aliro BLE transport protocol (TP). This is the transport layer
	  used by Reader to communicate with the User Device. It is used to send and
	  receive packets over BLE.

if ALIRO_BLE_TP

config ALIRO_BLE_TP_MAX_SESSIONS
	int "Maximum number of BLE sessions"
	default BT_MAX_CONN
	help
	  The maximum number of BLE sessions that can be established.

rsource "lib/aliro/Kconfig.ble.defconfig"
endif # ALIRO_BLE_TP
