#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig DOOR_LOCK_SETTINGS_UTILS
	bool "Settings Utils"
	depends on SETTINGS

if DOOR_LOCK_SETTINGS_UTILS

module = DOOR_LOCK_SETTINGS_UTILS
module-str = Door Lock Settings Utils
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

endif # DOOR_LOCK_SETTINGS_UTILS
