#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config NFC_DRIVER_STM
	default y

config RFAL_FEATURE_NFCA
	default y

config RFAL_FEATURE_WAKEUP_MODE
	default y

config RFAL_FEATURE_T4T
	default y

config RFAL_FEATURE_ISO_DEP
	default y

config RFAL_FEATURE_ISO_DEP_POLL
	default y
