#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config MBEDTLS_PSA_CRYPTO_C
	default y

config MBEDTLS_ENABLE_HEAP
	default y

config MBEDTLS_HEAP_SIZE
	default 8192

config MBEDTLS_X509_LIBRARY
	default y if DOOR_LOCK_CREDENTIAL_ISSUER_CA

config PSA_WANT_ALG_ECDSA
	default y

config PSA_WANT_ALG_ECDH
	default y

config PSA_WANT_KEY_TYPE_ECC_KEY_PAIR_GENERATE
	default y

config PSA_WANT_KEY_TYPE_ECC_KEY_PAIR_IMPORT
	default y

config PSA_WANT_KEY_TYPE_ECC_KEY_PAIR_EXPORT
	default y

config PSA_WANT_ECC_SECP_R1_256
	default y

config PSA_WANT_ALG_SHA_256
	default y

config PSA_WANT_ALG_HKDF
	default y

config PSA_WANT_ALG_HMAC
	default y

config PSA_WANT_KEY_TYPE_HMAC
	default y

config PSA_WANT_KEY_TYPE_AES
	default y

config PSA_WANT_ALG_ECB_NO_PADDING
	default y if NCS_ALIRO_BLE_UWB

config PSA_WANT_GENERATE_RANDOM
	default y

config PSA_WANT_ALG_GCM
	default y

#   Matter + Aliro (NFC+5xBLE/UWB):  (16 + 64 + 5*11) slots -> 136
#   Aliro only (NFC+5xBLE/UWB):      (16+ 5*11) slots ->  72
#   Matter + Aliro (NFC):           (64 + 16) slots ->  80
#   Aliro only (NFC):                9 slots ->  16 (with margin)
config MBEDTLS_PSA_KEY_SLOT_COUNT
	default 136 if CHIP && DOOR_LOCK_BLE_UWB
	default 72 if DOOR_LOCK_BLE_UWB
	default 80 if CHIP
	default 16
