#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config DOOR_LOCK_EXPEDITED_FAST_PHASE
    bool "Support for Aliro Expedited-fast Phase"
    default n
    help
        If enabled, the Expedited-fast phase is supported.
        The user authentication is based on the Kpersistent keys.

config DOOR_LOCK_STEP_UP_PHASE
    bool "Support for Aliro Step-up Phase"
    default y if CHIP
    help
        If enabled, the Step-up phase is supported.
        The user authentication is based on the Access Document.

config DOOR_LOCK_CREDENTIAL_ISSUER_CA
    bool "Support for Credential Issuer CA public key"
    default y if DOOR_LOCK_STEP_UP_PHASE
    help
        If enabled, the Credential Issuer CA public key is supported.
        The Credential Issuer CA public key is used to verify the signature of the Credential Issuer certificate.

config DOOR_LOCK_READER_CERTIFICATE
	bool "Support for Reader certificates"
	default y if !CHIP
	help
	  Use the reader certificate for the reader authentication.

if DOOR_LOCK_READER_CERTIFICATE

config DOOR_LOCK_READER_CERTIFICATE_MAX_SIZE
    int "Maximum size of the Reader certificate"
    default 512
    help
      Specifies the maximum size of the Reader certificate.
      The Reader certificate is used to identify the Reader.

endif # DOOR_LOCK_READER_CERTIFICATE

rsource "platform/Kconfig"

if DOOR_LOCK_CLI
    rsource "cli/Kconfig"
endif

if DOOR_LOCK_ACCESS_MANAGER_IMPLEMENTATION_DEFAULT
rsource "access_manager_impl_default/Kconfig"
endif

rsource "kpersistent_manager/Kconfig"
