#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Aliro features"

config DOOR_LOCK_BLE_UWB
	bool "Integration with Aliro BLE and UWB [EXPERIMENTAL]"
	select NCS_ALIRO_BLE_UWB
	select EXPERIMENTAL
	help
	  Enable the door lock application integration with Aliro Bluetooth LE (BLE) and ultra wideband (UWB).

if DOOR_LOCK_BLE_UWB

config DOOR_LOCK_BLE_UWB_MAX_SESSIONS
	int "Maximum number of BLE and UWB sessions"
	range 1 BT_MAX_CONN
	default BT_MAX_CONN
	help
	  The maximum number of BLE and UWB sessions that can be established.

endif # DOOR_LOCK_BLE_UWB

config DOOR_LOCK_EXPEDITED_FAST_PHASE
    bool "Support for Aliro Expedited-fast Phase"
    default y if CHIP
    help
        If enabled, the Expedited-fast phase is supported.
        The user authentication is based on the Kpersistent keys.

config DOOR_LOCK_STEP_UP_PHASE
    bool "Support for Aliro Step-up Phase"
    default y if CHIP
    select DOOR_LOCK_ALIRO_ACCESS_DOCUMENT_PARSER
    select DOOR_LOCK_EXTERNAL_NVS if !SOC_SERIES_NRF52
    help
        If enabled, the Step-up phase is supported.
        The user authentication is based on the Access Document.

config DOOR_LOCK_CREDENTIAL_ISSUER_CA
    bool "Support for Credential Issuer CA public key"
    default y if DOOR_LOCK_STEP_UP_PHASE && !CHIP
    depends on DOOR_LOCK_STEP_UP_PHASE
    help
        If enabled, the Credential Issuer CA public key is supported.
        The Credential Issuer CA public key is used to verify the signature of the Credential Issuer certificate.

config DOOR_LOCK_READER_CERTIFICATE
	bool "Support for Reader certificates"
	default y if !CHIP
	help
	  Use the reader certificate for the reader authentication.

if DOOR_LOCK_READER_CERTIFICATE

config DOOR_LOCK_READER_CERTIFICATE_MAX_SIZE
    int "Maximum size of the Reader certificate"
    default 512
    help
      Specifies the maximum size of the Reader certificate.
      The Reader certificate is used to identify the Reader.

endif # DOOR_LOCK_READER_CERTIFICATE

config DOOR_LOCK_TIME_CONCEPT
	bool "Support for Time concept"
	default y
	depends on CHIP
	select DOOR_LOCK_ALIRO_TIME_UTILS
	help
	  If enabled, the Time concept is supported.

endmenu # Aliro features

rsource "dynamic_tag_control/Kconfig"
rsource "platform/Kconfig"
rsource "access_manager/Kconfig"
rsource "cli/Kconfig"
rsource "kpersistent_manager/Kconfig"
rsource "lock_sim/Kconfig"
rsource "storage/Kconfig"
