#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

rsource "Kconfig.defaults"

menu "Crypto"

config DOOR_LOCK_CRYPTO_PSA_AEAD_SINGLE_PART
    bool
    default y if SOC_NRF54LM20A || SOC_NRF54LM20B
    help
      When enabled, the single-part AEAD API is used.

if DOOR_LOCK_CRYPTO_PSA_AEAD_SINGLE_PART

config DOOR_LOCK_CRYPTO_PSA_AEAD_SINGLE_PART_BUFFER_SIZE
    int "Maximum size of the buffer used for the single-part AEAD API"
    default 256
    help
      Maximum size of the buffer used for the single-part AEAD API.

endif # DOOR_LOCK_CRYPTO_PSA_AEAD_SINGLE_PART

endmenu # Crypto
