#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Lock simulator"

config DOOR_LOCK_LOCK_SIM_MOVEMENT_TIME_MS
    int "Movement time of the lock actuator (ms)"
    default 2000
    help
      Specifies the movement time of the lock actuator.
      The movement time is the time it takes for the lock to move from one state to another.

config DOOR_LOCK_LOCK_SIM_AUTO_RELOCK
    bool "Enable auto relock"
    default y
    depends on !CHIP
    help
      Enable auto relock of the lock. When enabled, the lock will relock itself after a certain time.

if DOOR_LOCK_LOCK_SIM_AUTO_RELOCK

config DOOR_LOCK_LOCK_SIM_AUTO_RELOCK_TIME_MS
    int "Auto relock time of the lock (ms)"
    default 5000
    help
      Specifies the auto relock time of the lock.
      The auto relock time is the time it takes for the lock to relock itself after it has been unlocked.

endif # DOOR_LOCK_LOCK_SIM_AUTO_RELOCK

config DOOR_LOCK_LOCK_SIM_INDICATOR
    bool "Enable lock simulator indicator"
    default y
    depends on !CHIP
    help
      Enable the lock simulator indicator. When enabled, the lock simulator will indicate the lock state.

endmenu # Lock simulator
