#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

rsource "src/platform/Kconfig"

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

module = NCS_DOOR_LOCK_APP
module-str = NCS_DOOR_LOCK_APP
module-dep = LOG
module-help = Enables nRF Connect SDK Door Lock Application log messages.
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

choice ACCESS_MANAGER_IMPLEMENTATION
	prompt "Access Manager implementation"
	default ACCESS_MANAGER_IMPLEMENTATION_DEFAULT

	config ACCESS_MANAGER_IMPLEMENTATION_DEFAULT
		bool "Access Manager default implementation"
		help
		  Uses the default implementation of the Access Manager
		  provided by the Door Lock Reference Application.

	config ACCESS_MANAGER_IMPLEMENTATION_CUSTOM
		bool "Access Manager custom implementation"
		help
		  Uses a custom implementation of the Access Manager.
		  This implementation is based on provided template
		  that can be tailored to specific requirements.
endchoice

if ACCESS_MANAGER_IMPLEMENTATION_DEFAULT
rsource "src/access_manager_impl_default/Kconfig"
endif

config DOOR_LOCK_CLI
	bool "Door Lock CLI support"
	default y
	select SHELL
	select REBOOT
	help
	  Enable support for Door Lock CLI.

config DOOR_LOCK_PRINT_READER_GROUP_IDENTIFIER
	bool "Print reader group identifier that should be provisioned into the User Device"
	default y
	help
	  Enable printing of the reader group identifier that should be provisioned into the User Device.

config DOOR_LOCK_USE_TEST_READER_IDENTIFIER
	bool "Use test reader identifier"
	default y
	help
	  Initialize the reader Group Identifier and Group Sub Identifier to test values.
