#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

rsource "src/platform/Kconfig"

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

module = NCS_DOOR_LOCK_APP
module-str = NCS_DOOR_LOCK_APP
module-dep = LOG
module-help = Enables nRF Connect SDK Door Lock Application log messages.
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
