#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config ACCESS_MANAGER_MAX_STORED_KEYS
    int "Maximum number of stored public keys"
    default 5
    help
      Specifies the maximum number of public keys that can be
      stored in the AccessManager. This determines the size of
      the statically allocated array for key storage.

if ALIRO_BLE_TP

config ACCESS_MANAGER_MAX_ALLOWED_DISTANCE_CM
    int "Maximum allowed distance for granting access (cm)"
    default 100
    help
      Specifies the maximum allowed distance provided by
      UWB ranging to grant an access (in centimeters).
      This is used to determine if the Aliro User Device
      is within the allowed proximity range.

endif # ALIRO_BLE_TP
