#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config ACCESS_MANAGER_MAX_STORED_KEYS
    int "Maximum number of stored public keys"
    default 1
    help
      Specifies the maximum number of public keys that can be
      stored in the AccessManager. This determines the size of
      the statically allocated array for key storage.

if ALIRO_BLE_TP

config ACCESS_MANAGER_MAX_ALLOWED_DISTANCE_CM
    int "Maximum allowed distance for granting access (cm)"
    default 100
    help
      Specifies the maximum allowed distance provided by
      UWB ranging to grant an access (in centimeters).
      This is used to determine if the Aliro User Device
      is within the allowed proximity range.

config AUTOMATIC_RANGING_SESSION_INITIATION
    bool "Automatic ranging session initiation"
    depends on SOC_SERIES_NRF53X
    default y
    help
      Specifies if the Reader Device will autonomously initiate
      the UWB ranging session in case the session is not initiated
      by the User Device after Access Protocol is finalized.

if AUTOMATIC_RANGING_SESSION_INITIATION

config RANGING_START_TIMEOUT_MS
    int "Ranging start timeout in ms"
    default 3000
    help
      Specifies the time a Reader Device waits before it
      initiates the ranging session by its own.
      Set 0 to initiate the ranging session immediately after
      the Access Protocol is finalized.

endif # AUTOMATIC_RANGING_SESSION_INITIATION

endif # ALIRO_BLE_TP
