#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config ALIRO_CREDENTIAL_ISSUER_MAX_STORED_KEYS
    int "Maximum number of stored Credential Issuer public keys"
    default 5
    help
      Specifies the maximum number of Credential Issuer public keys that can be
      stored in the AccessManager. This determines the size of
      the statically allocated array for key storage. The Credential Issuer
      public key is used to verify the signature of the access document.
      If this option is set to 0, the access document is not supported.

config ALIRO_ACCESS_MANAGER_MAX_STORED_KEYS
    int "Maximum number of stored public keys"
    default 5
    help
      Specifies the maximum number of public keys that can be
      stored in the AccessManager. This determines the size of
      the statically allocated array for key storage.

if ALIRO_BLE_UWB

config ALIRO_ACCESS_MANAGER_MAX_ALLOWED_DISTANCE_CM
    int "Maximum allowed distance for granting access (cm)"
    default 100
    help
      Specifies the maximum allowed distance provided by
      UWB ranging to grant an access (in centimeters).
      This is used to determine if the Aliro User Device
      is within the allowed proximity range.

choice ALIRO_ACCESS_MANAGER_TERMINATE_SESSION
    prompt "Terminate session on given condition"
    default ALIRO_ACCESS_MANAGER_TERMINATE_SESSION_ON_TIMEOUT
    help
      Select the condition under which the AccessManager will
      terminate the current Aliro session.

config ALIRO_ACCESS_MANAGER_TERMINATE_SESSION_ON_ACCESS_GRANTED
    bool "Terminate the session if the access was granted"
    help
      If enabled, the AccessManager will terminate each
      session immediately when an access is granted.

config ALIRO_ACCESS_MANAGER_TERMINATE_SESSION_ON_TIMEOUT
    bool "Terminate session on timeout"
    help
      If enabled, the AccessManager will terminate each ongoing
      session if it times out according to ALIRO_ACCESS_MANAGER_SESSION_TIMEOUT_MS.

endchoice

if ALIRO_ACCESS_MANAGER_TERMINATE_SESSION_ON_TIMEOUT

config ALIRO_ACCESS_MANAGER_SESSION_TIMEOUT_MS
    int "Session timeout in milliseconds"
    default 10000

endif

endif # ALIRO_BLE_UWB
