/*
 * Copyright (c) 2025 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */


&spi1 {
	/* CS array: @0: NFC reader             @1: QM35 UWB module */
	cs-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>, <&gpio1 4 GPIO_ACTIVE_LOW>;

	nucleo_nfc@0 {
		/delete-property/ reset-gpios;
	};

	qm35: hsspi@1 {
		status = "okay";
		compatible = "qorvo,hsspi";
		reg = <1>;
		spi-max-frequency = <DT_FREQ_M(8)>;
		ss-irq-gpios = <&gpio1 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		reset-gpios = <&gpio1 9 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		exton-gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>;
	};
};
