#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config SHELL_CMD_BUFF_SIZE
    # Shell buffer must fit: "dl reader certificate set " (26 chars) + hex string (2 * cert size)
    # For 512 byte cert: 26 + 1024 = 1050
    default 1052 if (SHELL && DOOR_LOCK_READER_CERTIFICATE)
