#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config DOOR_LOCK_ALIRO_UWB_QM35_DIAGNOSTICS
	bool "Enable UWB diagnostics support"
	help
	  Enable UWB diagnostics support.

if DOOR_LOCK_ALIRO_UWB_QM35_DIAGNOSTICS

config DOOR_LOCK_ALIRO_UWB_QM35_DIAGNOSTICS_DEFAULT_HANDLER
	bool "Enable default diagnostic report handler"
	default y
	help
	  Enable default diagnostic report handler
	  that transforms the AoA raw data into degrees and logs it.

module = DOOR_LOCK_ALIRO_UWB_QM35_DIAGNOSTICS
module-str = Door Lock Aliro UWB QM35 Diagnostics
module-dep = LOG
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

endif # DOOR_LOCK_ALIRO_UWB_QM35_DIAGNOSTICS
