#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Aliro Interface Implementation"

rsource "os/Kconfig"
rsource "log/Kconfig"
rsource "uwb/Kconfig"
rsource "reader/Kconfig"
rsource "crypto/Kconfig"
rsource "ci_cert/Kconfig"

endmenu
