#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config RFAL_WORKER_THREAD_STACK_SIZE
	int "Stack size of the thread that the RFAL worker lives in"
	default 4096

config RFAL_WORKER_THREAD_PRIORITY
	int "Priority of the thread that the RFAL worker lives in"
	default 0

config RFAL_RX_TIMEOUT_MS
	int "RFAL RX timeout in ms"
	default 500

config RFAL_IDLE_TIMEOUT_MS
	int "RFAL idle timeout in ms"
	default 500

# Prompt-less option only for internal tuning of the RFAL worker thread. Do not change it.
config RFAL_NFC_WORKER_TIMEOUT_MS
	int
	default 30

module = NCS_ALIRO_RFAL
module-str = ALIRO_RFAL
module-dep = LOG
module-help = Enables Aliro NFC RFAL log messages.
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
