#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config PSA_CRYPTO
	default y

config MBEDTLS_ENABLE_HEAP
	default y

config MBEDTLS_HEAP_SIZE
	default 8192

#   NFC+5xBLE/UWB:      (16+ 5*11) slots ->  72
#   NFC:                9 slots ->  16 (with margin)
config MBEDTLS_PSA_KEY_SLOT_COUNT
	default 72 if DOOR_LOCK_BLE_UWB
	default 16
