#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

module = DFU_SMP
module-str = DFU_SMP
module-dep = LOG
module-help = Enables DFU SMP module log messages.
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"
