#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config QM35_UWB_LIB
	bool "QM35 UWB library"
	depends on SOC_SERIES_NRF53X || SOC_NRF54LM20A
	help
	  Enable support for the Qorvo QM35 UWB chip.
