#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

rsource "access_decision_indicator/Kconfig"
rsource "nfc_transport_impl/Kconfig"

if ALIRO_BLE_UWB
rsource "uwb_impl/Kconfig"
endif # ALIRO_BLE_UWB

if ALIRO_BLE_UWB || DOOR_LOCK_DFU_BLE_SMP || DOOR_LOCK_BLE_NUS
rsource "ble/Kconfig"
endif #  ALIRO_BLE_UWB || DOOR_LOCK_DFU_BLE_SMP || DOOR_LOCK_BLE_NUS
