#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

rsource "access_decision_indicator/Kconfig"
rsource "crypto/Kconfig"
rsource "nfc/Kconfig"

if DOOR_LOCK_BLE_UWB
rsource "uwb_impl/Kconfig"
endif # DOOR_LOCK_BLE_UWB

if BT
rsource "ble/Kconfig"
endif # BT
