#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config MBEDTLS_ENABLE_HEAP
	default y

config MBEDTLS_HEAP_SIZE
	default 8192

#   Matter + Aliro (NFC+5xBLE/UWB):  (16 + 64 + 5*11) slots -> 136
#   Matter + Aliro (NFC):           (64 + 16) slots ->  80
config MBEDTLS_PSA_KEY_SLOT_COUNT
	default 136 if DOOR_LOCK_BLE_UWB
	default 80
